body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 100%;
    min-height: 100%;
}

.container-one {
    background-color: #19171e;
    padding: 0px 72px;
}

.container-two {
    background-color: #2F2B38;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-three {
    background-color: #19171e;
}

.narrator-text {
    padding: 32px;
    color:#E8E6E3;
    text-align: center;
    line-height: 32px;
    height: 100px;
}


.btn {
    width: 112px;
    height: 48px;
    margin: 16px;
    padding: 12px;
    border-radius: 10px;
    background-color:#9E0638;
    color: #E8E6E3;
    font-weight: bold;
    border-style: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    cursor: pointer;
}


.btn:hover{
    transform: translate(0,-3px);
    box-shadow: 3px -3px 12px 0 rgba(248, 78, 134, 0.3),
     -3px 3px 12px 0 rgba(248, 78, 134, 0.3);
}

.graphics-canvas {
    border: 2px solid #F84982;
    border-radius: 10px;
    width: 500px;
    height: 250px;
    margin: 32px;
}


.page-header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.page-footer {
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    color: #E8E6E3;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

a {
    color: #E8E6E3;
    font-size: 18px;
    text-decoration: none;
}

a:hover{
    color: #F84982;
}

/*DROPDOWN GAME RULES*/

.dropdown{
    position: relative;
    display: inline-block;
}

.drop-content{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color:#292531 ;
    color: #E8E6E3;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    padding: 12px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #F84982;
}

.drop-content div{
    text-decoration: none;
    display: block;
}

.dropdown:hover .drop-content {
    display: block;
}

/* IDs */

#header-logo {
    max-width: 96px;
    max-height: 96px;
    flex-shrink: 0;
    cursor: pointer;
}


#score {
    margin: 0px 32px 32px 32px;
    color:#E8E6E3;
}